  body{
    background-color: #fefbe9;
  }
  .team_card {
    font-size: 0.9rem;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team_img {
    position: relative;
    overflow: hidden;
    border-radius: 35%;
    object-fit: cover;
    height: 400px;
    width: 350px;
    margin-top: 10px;
  }
  .team_img:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .team_img img {
    max-width: 100%;
    height: auto;
    transition: all 0.9s;
  } 
  .team_card:nth-of-type(2) img {
    object-position: top;
  }
  
  .team_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team_info p {
    margin: 0px;
    color: #183a1d;
    font-size: 20px;
  }
  
   .team_info button {
    border-radius: 25%;
    background-color: transparent;
    margin: 0px;
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0 10px;
    color: #183a1d;
  }
  
  
  
  